.btn {
    align-self: flex-end;
    width: 11.1rem;
    height: 3.2rem;
    border-radius: .8rem;
    outline: none;
    border: none;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-softblue);
    transition: all .1s;
    cursor: pointer;
}
.btnInactive {
    align-self: flex-end;
    width: 11.1rem;
    height: 3.2rem;
    border-radius: .8rem;
    outline: none;
    border: none;
    font-weight: 700;
    color: var(--color-darkgrey);
    background-color: var(--color-grey);
    transition: all .1s;
}
.btnRed {
    align-self: flex-end;
    width: 11.1rem;
    height: 3.2rem;
    border-radius: .8rem;
    outline: none;
    border: none;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-softred);
    transition: all .1s;
    cursor: pointer;
}
.btnWhite {
    align-self: flex-end;
    width: 11.1rem;
    height: 3.2rem;
    border-radius: .8rem;
    outline: none;
    border: .1rem solid var(--color-darkgrey);
    font-weight: 700;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: all .1s;
    cursor: pointer;
}
.btnGreen {
    align-self: flex-end;
    width: 11.1rem;
    height: 3.2rem;
    border-radius: .8rem;
    outline: none;
    border: .1rem solid var(--color-darkgrey);
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-softgreen);
    transition: all .1s;
    cursor: pointer;
}