.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    padding: 0 2.4rem;
    gap: 2.4rem;
    overflow: scroll;
    
}

.main::-webkit-scrollbar {
    display: none;
    
}