.postContent {
    width: 100%;
    height: 31.6rem;

    word-wrap: anywhere;
    display: flex;
    flex-direction: column;

    border: .1rem solid var(--color-grey);
    border-radius: 1.6rem;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    height: 7rem;
    border-radius: 1.6rem 1.6rem 0 0;
    background-color: var(--color-softblue);

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.icon {

    cursor: pointer;
}

.titleText {

    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--color-white);
}

.mainContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
    overflow: hidden;
}

.postInfo {
    display: flex;
    justify-content: space-between;
}

.user {
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;
    color: var(--color-darkgrey);
}

.data {
    min-width: fit-content;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--color-darkgrey);
}

.postText {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--color-black);
}

.plusBtn {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-softgreen);
}

.hide {
    display: none;
}