.createPostContent {
    display: flex;
    width: 100%;
    height: 33.4rem;    
    flex-direction: column;
    padding: 2.4rem;
    border: .1rem solid var(--color-grey);
    border-radius: 1.6rem;
    gap: 2.4rem;
}

.title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
}